<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    {% for nav_item in nav %}
        {% for nav_item in nav_item.children %}
            <li class="panel-collapse collapse in"><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
