<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    {% for nav_item in nav %}
        <li class="main {% if nav_item.active %}active{% endif %}"><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
                {% for nav_item in nav_item.children %}
            <li class=""><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
